ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  background-color: rgb(212, 210, 210);
  justify-content: space-between;
  padding: 3px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}

.listDiv {
  flex-wrap: wrap;
  font-size: 18px;
}

.done {
  text-decoration: line-through;
  color: #6b7280;
  padding: 3px;
}

.not-done {
  color: #111827;
  padding: 3px;
}

.checkmark {
  color: #111827;
}
.container {
  flex-direction: column;
}

li span {
  word-break: break-word;
}

li div {
  display: flex;
  gap: 5px;
}

.doneButton {
  background-color: #fbc02d;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.doneButton:hover {
  background-color: #f9a825;
  transform: scale(1.05);
}

.doneButton.done2 {
  background-color: #4caf50;
  color: white;
}

.doneButton.done2:hover {
  background-color: #45a049;
}

.deleteButton {
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.deleteButton:hover {
  background-color: #b32f2d;
  transform: scale(1.05);
}
